html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main {
    flex: 1;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff; 
}


.main-header {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

.header-logo-container {
    width: 100%; 
    height: 99%;
    border-radius: 5px; 
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.header-logo-container:hover {
    transform: scale(1.05); 
}

.logo-placeholder {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-link {
    color: #333;
    font-weight: 700;
    margin: 0 15px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff4500; 
}

.navbar-nav {
    flex-grow: 1;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400; 
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav-links-left {
    justify-content: flex-end;
}

.nav-links-right {
    justify-content: flex-start;
}

@media (min-width: 992px) {
    .col-lg-2-4 {
        width: 20%; 
    }
}


.member-col {
    padding: 10px;
}

.member-card {
    height: 350px; 
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 50px;
}

.member-card:hover {
    transform: translateY(-10px) scale(0.98);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.member-1 { background-image: url('../imgs/Colin\ greenwood.jpg'); }
.member-2 { background-image: url('../imgs/Jonny\ Greenwood.jpg'); }
.member-3 { background-image: url('../imgs/Thom\ Yorke.jpg'); }
.member-4 { background-image: url('../imgs/Phil\ Selway'); }
.member-5 { background-image: url('../imgs/Ed\ O\'Brien.jpg'); }

.member-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0; 
    transition: opacity 0.2s ease;
}


.main-footer {
    background-color: #f8f8f8;
    color: #666;
    border-top: 1px solid #eeeeee;
}

h1 {
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}